<div class="detail-container">
    <div style="margin: 48px 64px 0px 0px">
        <a href="{{product.url}}" target="_blank">
            <img src="{{ product.url }}">
        </a>
    </div>
    <div>
        <h2>{{ product.name }}</h2>
        <p>{{ product.price | currency }}</p>
        <p>{{ product.description }}</p>

        <app-form [id]="product.id" [price]="product.price"></app-form>

        <div class="back-link btn-link">
            <a routerLink="/">&#8592; {{ backLinkText }}</a>
        </div>
    </div>
</div>


