/* 
taken from Udacity repo:
https://github.com/udacity/nd-0067-c3-angular-fundamentals-project-starter
*/

* {
  font-family: Arial;
}

.header {
  text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
}
  
a {
  color: #ffffff;
}